* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: whitesmoke;
}

.default {
  font-size: 16px;
}
.container {
  height: 4442px;
  background: #cccccc;
}
.nav-bar {
  position: sticky absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 22px;
  color: white;
  padding: 15px;
}
.side-toggle {
  float: right;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
a {
  text-decoration: none;
}
.logo {
  float: left;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.header {
  width: auto;
  height: 664px;
  background-image: url("img/HEADER.png");
}

.header-content {
  margin-top: 127px;
  margin-left: 17px;
}

.content-title {
  width: 345px;
  height: 188px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 53.2px;
  line-height: 62px;
  color: #ffffff;
}

.content-body {
  width: 345px;
  height: 123px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18.2px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 9px;
}

.watch-video-button {
  position: absolute;
  width: 179px;
  height: 54px;
  background: #f44336;
  box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
}

.watch-video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.icon-play {
  width: 15px;
  height: 18px;
  line-height: 21px;
  color: #ffffff;
}

.watch-video-text {
  width: 91px;
  height: 17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.container-body {
  position: absolute;
  width: calc(100% - 20px);
  height: 3718px;
  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -60px;
}

.top-content {
  position: absolute;
  width: calc(100% - 20px);
  margin-top: 94px;
  margin-left: 10px;
}
.heading {
  position: absolute;
  text-align: center;
  height: 43px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36.4px;
  line-height: 43px;
  color: #3c4858;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.top-paragraph {
  position: absolute;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 17.5px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-top: 45px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.feature {
  position: absolute;
  margin-top: 324px;
  left: 50%;
  display: flex;
  justify-content: center;
}

.icon1 {
  position: absolute;
  width: 328px;
  height: 201px;
}

.icon2 {
  position: absolute;
  width: 328px;
  height: 201px;
  margin-top: 300px;
}

.icon3 {
  position: absolute;
  width: 328px;
  height: 201px;
  margin-top: 600px;
}
.icon {
  width: 70px;
  height: 70px;
  margin-left: 50%;
  transform: translate(-50%);
}

.feature-heading {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #3c4858;
  text-align: center;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  margin-top: 31px;
}

.icon-text {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #999999;
  margin-top: 73px;
}

.mid-content {
  position: absolute;
  width: calc(100% - 20px);
  margin-top: 1394px;
  display: flex;
  justify-content: center;
}

.team1 {
  position: absolute;
  width: 328px;
  height: 201px;
  margin-top: 86px;
}

.team2 {
  position: absolute;
  width: 328px;
  height: 201px;
  margin-top: 486px;
}

.team3 {
  position: absolute;
  width: 328px;
  height: 201px;
  margin-top: 886px;
}

.team {
  width: 170px;
  height: 170px;
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 0;
}
.team-heading {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18.2px;
  line-height: 21px;
  color: #3c4858;
  text-align: center;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

h4 {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13.65px;
  line-height: 16px;
  color: #777777;
  text-align: center;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  margin-top: 31px;
}
.social-media {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 150px;
}
.social-media-icon {
  width: 17px;
  height: 18px;
  line-height: 21px;
  color: #999999;
}

.twitter {
  width: 17px;
  height: 18px;
}

.instagram {
  width: 16px;
  height: 18px;
}

.facebook {
  width: 16px;
  height: 18px;
}

.linkedin {
  width: 16px;
  height: 18px;
}

.google {
  width: 24px;
  height: 18px;
}
.youtube {
  width: 18px;
  height: 18px;
}
