* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: whitesmoke;
}

.default {
  font-size: 16px;
}
.main-container-wrapper {
  background: #cccccc;
  position: relative;
}
.nav-bar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 15px 15px 25px;
  top: 0;
  left: 0;
  right: 0;
}
.nav-content {
  display: none;
}
@media (min-width: 768px) {
  .nav-bar {
    padding: 22px 24px 23px;
  }
  .nav-content {
    float: right;
    display: inline;
  }
  ul li {
    list-style: none;
    display: inline-block;
    padding-right: 30px;
    font-size: 12px;
    line-height: 14px;
  }
  .Download-icon {
    padding-right: 5px;
    width: 20px;
    height: 20px;
  }
  .nav-icon {
    width: 19px;
    height: 20px;
    padding-right: 24px;
  }
  .nav-icon:first-child {
    margin-left: -4px;
  }
  .nav-icon:last-child {
    padding-right: 26px;
  }
  a {
    color: white;
  }
}

@media (min-width: 1200px) {
  .nav-bar {
    position: absolute;
    padding: 39px;
    background-color: transparent;
    max-width: 1098px;
    left: 0;
    right: 0;
  }
  .nav-icon:last-child {
    padding-right: 162px;
  }
}
.side-toggle {
  float: right;
}
@media (min-width: 768px) {
  .side-toggle {
    display: none;
  }
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  float: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.banner {
  padding-top: 174px;
  background-image: url("img/back.png");
  height: 490px;
  background-size: cover;
}
@media (min-width: 768px) {
  .banner {
    height: 423px;
    background-image: url("img/tablet.png");
  }
}
@media (min-width: 1200px) {
  .banner {
    padding-top: 207px;
    background-image: url("img/Rectangle.png");
  }
}

.banner-content {
  padding: 0 15px;
}

.content-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 53.2px;
  line-height: 62px;
  color: #ffffff;
}

.content-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18.2px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 9px;
}

.watch-video-button {
  width: 179px;
  background: #f44336;
  box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  margin-top: 42px;
  padding: 19px 15px 17px;
}

.icon-play {
  width: 15px;
  color: #ffffff;
  vertical-align: middle;
}

.watch-video-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  vertical-align: middle;
}
@media (min-width: 1200px) {
  .banner-content-wrapper {
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1128px;
  }
  .banner-content {
    width: 50%;
    display: inline-block;
  }
}
.container-body {
  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -60px;
  padding: 0 16px;
}

.top-content {
  padding-top: 94px;
  text-align: center;
}
.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #3c4858;
  left: 50%;
}

.top-paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-top: 38px;
  margin-bottom: 162px;
  max-width: 723px;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  margin-bottom: 108px;
}
.feature:last-child {
  margin-bottom: 207px;
}
.icon {
  width: 70px;
}

.feature-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #3c4858;
  text-align: center;
  left: 50%;
  margin-top: 31px;
}

.feature-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #999999;
  margin-top: 18px;
  max-width: 328px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .feature-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    max-width: 1128px;
  }
  .feature-container:first-child {
    padding-left: 0;
    margin-left: 0;
  }
  .feature {
    padding: 0 31px;
  }
}

.mid-content {
  text-align: center;
}
.second-section {
  margin-bottom: 86px;
}

.team-member {
  margin-bottom: 21px;
}

.team-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3c4858;
  text-align: center;
  left: 50%;
  margin-bottom: 7px;
}
.team {
  width: 230px;
  margin: -30px;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13.65px;
  line-height: 16px;
  color: #777777;
  text-align: center;
  left: 50%;
}
.team-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #999999;
  margin-top: 33px;
}
.social-media {
  left: 50%;
  overflow: auto;
  white-space: nowrap;
}
.social-media-icon {
  display: inline-block;
  padding: 0 14px;
  width: 17px;
  height: 18px;
  line-height: 21px;
  color: #999999;
  margin-top: 26px;
  margin-bottom: 10px;
}

.twitter {
  width: 17px;
  height: 18px;
}

.instagram {
  width: 16px;
  height: 18px;
}

.facebook {
  width: 16px;
  height: 18px;
}

.linkedin {
  width: 16px;
  height: 18px;
}

.google {
  width: 24px;
  height: 18px;
}
.youtube {
  width: 18px;
  height: 18px;
}
.team-member:last-child {
  margin-bottom: 185px;
}

@media (min-width: 1200px) {
  .team-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    max-width: 1128px;
  }
  .team-container:first-child {
    padding-left: 0;
    margin-left: 0;
  }
  .team-member {
    padding: 0 31px;
  }
}

.bottom-content {
  text-align: center;
}

.bottom-paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-top: 37px;
  max-width: 753px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47;
}
.inputs {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  left: 10%;
}
input:focus {
  border-color: #9c27b0;
}
.input-line {
  padding: 7px 0px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  outline: none;
}
.content-name {
  margin-top: 47px;
}
.content-email {
  margin-top: 47px;
}

.content-message {
  margin-top: 51px;
}
@media (min-width: 1200px) {
  .inputs {
    max-width: 753px;
    margin-left: auto;
    margin-right: auto;
  }
  .form-first-line-content {
    display: flex;
    justify-content: center;
  }
  .content-name {
    width: 49.9999%;
  }
  .content-email {
    padding-left: 29px;
    width: 49.9999%;
  }
}
.send-message-button {
  width: 148px;
  background: #9c27b0;
  box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
  border-radius: 3px;
  text-align: center;
  margin-top: 24px;
  padding: 13px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 79px;
}

footer {
  left: 0;
  bottom: 80px;
  width: 100%;
  text-align: center;
  color: #333333;
}
.footer-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #333333;
  margin-top: 33px;
}
.footer-text span {
  padding-right: 33px;
}
.footer-text a {
  color: #333333;
}
.copyright {
  height: 17px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 11px;
  text-align: center;
  color: #000000;
  margin-top: 31px;
  padding-bottom: 18px;
}
@media (min-width: 768px) {
  .footer-text {
    text-align: left;
    margin-left: 39px;
    padding-bottom: 26px;
  }
}
@media (min-width: 1200px) {
  footer {
    left: 0;
    right: 0;
    color: #333333;
    display: inline-block;
  }
  .copyright {
    float: right;
    text-align: right;
    margin-right: 153px;
  }
  .footer-text {
    float: left;
    text-align: left;
    margin-left: 165px;
    padding-bottom: 33px;
  }
}
